# 環境変数 environment variables

# e.g. qwen2.5:32b
LLM_NAME=qwen2.5:32b
# e.g. http://localhost:11434/
LLM_ENDPOINT=http://localhost:11434/
# 0.0-1.0
LLM_TEMPERATURE=0.8
# e.g. data/llm_instruction.txt
LLM_INSTRUCTION_FILE_PATH=data/llm_instruction.txt
# e.g. data/llm_message_example.json
LLM_MESSAGE_EXAMPLE_FILE_PATH=data/llm_message_example.json
LLM_MAX_MESSAGES=-1

# ERROR|WARNING|INFO|DEBUG
LOG_LEVEL=INFO
