# Environment Variables / 環境変数

# `DEBUG`, `INFO`, `WARNING`, `ERROR`
LOG_LEVEL=INFO

# e.g. data/chat_history.json
CHAT_HISTORY_FILE_PATH=data/chat_history.json
LLM_MAX_MESSAGES=-1
# e.g. data/llm_instructions.txt
LLM_INSTRUCTIONS_FILE_PATH=data/llm_instructions.txt

# e.g. qwen2.5:32b, gemma3:27b
LLM_NAME=gemma3:27b
# e.g. http://localhost:11434/
# LLM_ENDPOINT=http://localhost:11434/
# 0.0-1.0
LLM_TEMPERATURE=0.8
